<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Lazada Automation">
 
  <test name="Home Page Tests">
      <classes>
       <class name="AutomationLazada.tests.LazadaHomePageTest"/>
      </classes>
  </test> 
  <test name="Careers Page Tests">
      <classes>
       <class name="AutomationLazada.tests.CareersPageTests"/>
      </classes>
  </test> 
  <test name="Application Page Tests">
      <classes>
       <class name="AutomationLazada.tests.ApplicationPageTests"/>
      </classes>
  </test> 
 
</suite> 